*.bak
*.exe
*.orig
*.pdb
*.scc
*.suo
*.vbproj.user
*.vspscc
*.vssscc
[Bb]in
[Dd]ebug*/
[Rr]elease*/
obj/
*.log
packages*/
lib*/
/SyteLineDevTools/.vs/SyteLineDevTools/DesignTimeBuild/.dtbcache.v2
/SyteLineDevTools/.vs/SyteLineDevTools/project-colors.json
/SyteLineDevTools/.vs/SyteLineDevTools/v17/.futdcache.v1
/SytelineDevTools.NETFW/**
